body, html {
  margin: 0;
  overflow: hidden;
}
h1,h2,h3,h4,p,a {
  margin: 0;
}
p {
  color: #00ff00;
}
p:hover {
  cursor: pointer;
	filter: blur(0.8rem);
}
h1 {
	filter: blur(0.3rem);
	color: rgb(0,255,0);
	transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
	border: solid rgb(0,255,0);
  border-radius: 50%;
}
h1:hover {
  cursor: pointer;
	filter: blur(0.8rem);
}

@media (max-width: 640px) {
	h1 {
		filter: blur(0.2rem);
	}
}